html {
    font-family: "Kanit", sans-serif;
}

body {
    background-color: #fefefe;
}

.header-container {
    grid-auto-rows: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Dela upp i tre kolumner */
}

.welcome-column {
    font-weight: lighter;
    text-align: left;
    font-style: normal;
    font-size: 8px;
    grid-column: 1 / 2;
}

.headline {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    grid-column: 2 / 3; /* Andra kolumnen (mitten) */
    text-align: center;
    align-items: center;
    color: white; /* Gör texten vit */
    display: flex;
    justify-content: center;
    text-shadow: -1px -1px 0 black, 3px -1px 0 black, -1px 3px 0 black, 3px 3px 0 black;
}

nav {
    display: flex;
    justify-content: center;
}

.list-container {
    list-style: none;
    display: flex;
    gap: 40px;
}

    .list-container li {
        font-size: 20px;
        margin-right: 70px;   
    }

    .list-container a {
        cursor: pointer;
        color: black;
        padding: 2px;
        font-size: 18px;
        text-decoration: none; /* Ta bort understreck */
        font-optical-sizing: auto;
        background-color: #fefefe;
    }
        .list-container a:hover {
            color: rgba(63, 57, 41, 0.577);
        }   

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

    .search-container label,
    .search-container input,
    .search-container select,
    .search-container button {
        margin: 5px;
        margin-right: 10px;
    }

    .search-container input, .search-container select {
        padding: 4px;
        outline: none;
        border: none;
        border: 2px solid rgba(63, 57, 41, 0.577);
        background-color: #fefefe;
    }

    .next-button, .previous-button, .search-container button, .return-button {
        color: black;
        padding: 4px;
        font-size: 14px;
        padding-left: 6px;
        padding-right: 6px;
        text-decoration: none; /* Ta bort understreck */
        font-optical-sizing: auto;
        background-color: #fefefe;
        border: 2px solid rgba(63, 57, 41, 0.577);
        transition: background-color 0.1s, transform 0.2s ease-in-out;
    }

        .next-button:hover, .previous-button:hover, .search-container button, .return-button:hover {
            background-color: rgb(202, 197, 184);
        }

.product-grid {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Fyra kolumner per rad */
    gap: 30px; /* Mellanrum mellan bilderna */
    justify-items: center; /* Centrerar bilder horisontellt */
}

.product-container {
    text-align: center;
    border-radius: 16px;
    background-color: #d4d4d492;
    box-shadow: 0px 0px 15px rgba(63, 57, 41, 0.577);
    width: 20rem;
    display: flex;
    flex-direction: column;
}

img {
    width: 20rem;
    height:20rem;
    object-fit: cover;
}

.image-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

    .image-details h2 {
        flex: 1;
    }

    .image-details a {
        padding-bottom: 5px;
        text-decoration: none;
    }

.button-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 20px;
}


/*Cart page*/
.cart-grid {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Fyra kolumner per rad */
    gap: 30px; /* Mellanrum mellan bilderna */
    justify-items: center;
}

.cart-container {
    text-align: center;
    border-radius: 16px;
    background-color: #d4d4d492;
    box-shadow: 0px 0px 15px rgba(63, 57, 41, 0.577);
    width: 20rem;
    display: flex;
    flex-direction: column;
}

.cart-container ul{
    line-height:1.5;
    text-align:start;
    list-style:none;
}

#product-name {
    font-weight:bold;
}

.cart-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #ffffff; /* Bakgrundsfärg för att tydligt markera fotern */
    padding: 10px; /* Justera paddingen efter behov */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Lägg till en skugga under fotern för att skilja den från innehållet */
}

.cart-buttons {
    display: flex;
}

    .cart-buttons form {
        margin-right: 10px; /* Justera avståndet mellan knapparna */
        margin-left: 10px;
        color: black;
        font-size: 14px;
        font-optical-sizing: auto;
        background-color: #fefefe;
        border: 2px solid rgba(63, 57, 41, 0.577);
    }

    #clear-button,
    #order-button{
        border:none;
        background-color:transparent;
    }
    #clear-button:hover, #order-button:hover {
        background-color: rgb(202, 197, 184);
    }

.empty-cart-text{
    text-align:center;
}
/*details page*/
.product-headline {
    text-align: center;
    padding-bottom: 10px;
}


.details-container {
    text-align: center;
    border-radius: 16px;
    background-color: #d4d4d492;
    box-shadow: 0px 0px 15px rgba(63, 57, 41, 0.577);
    margin: auto;
    display: flex;
    max-width: 60rem;
}

    .details-container img {
        flex: 1;
        max-width: 30rem;
        height: 20rem;
        border-radius: 16px 0 0 16px;
        object-fit: cover;
    }

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

    .text-container p {
        margin: 20px 0;
    }


/*Order page*/
.order-container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #d4d4d492;
    border-radius: 7px;
    padding-bottom: 20px;
    border: 10px solid #f4f4f445;
}

.return-button {
    max-width: 30%; /* Maximalt utrymme som knappen kan ta upp */
    margin: auto;

}

.return-button a{
    color:black;
    text-decoration: none;
}


/*Responsivitet*/
@media (max-width: 1200px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
    }
}

@media (max-width: 1050px) {
    .product-grid {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 730px) {
    .product-grid {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .search-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 50%;
        margin: auto;
    }

    .headline {
        margin-top: 50px;
    }
}