html {
    font-family: "Kanit", sans-serif;
}

body {
    background-color: #fefefe;
}

.header-container {
    grid-auto-rows: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Dela upp i tre kolumner */
}

.welcome-column {
    font-weight: lighter;
    text-align: left;
    font-style: normal;
    font-size: 8px;
    grid-column: 1 / 2;
}

.headline {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    grid-column: 2 / 3; /* Andra kolumnen (mitten) */
    text-align: center;
    align-items: center;
    color: white; /* Gör texten vit */
    display: flex;
    justify-content: center;
    text-shadow: -1px -1px 0 black, 3px -1px 0 black, -1px 3px 0 black, 3px 3px 0 black;
}

nav {
    display: flex;
    justify-content: center;
}

.list-container {
    list-style: none;
    display: flex;
    gap: 40px;
}

    .list-container li {
        font-size: 20px;
        margin-right: 70px;
        curser:pointer;
    }

    .list-container a {
        text-decoration: none;
        color: black;
        text-align: center;
    }

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

    .search-container label{
        
    }
    .search-container input,
    .search-container select,
    .search-container button {
        margin: 5px;
        margin-right: 10px;
    }

    .search-container input, .search-container select {
        padding: 4px;
        outline: none;
        border: none;
        border: 2px solid rgba(63, 57, 41, 0.577);
        background-color: #fefefe;
    }

    .next-button, .previous-button, .search-container button {
        color: black;
        padding: 4px;
        font-size: 14px;
        padding-left: 6px;
        padding-right: 6px;
        text-decoration: none; /* Ta bort understreck */
        font-optical-sizing: auto;
        background-color: #fefefe;
        border: 2px solid rgba(63, 57, 41, 0.577);
        transition: background-color 0.1s, transform 0.2s ease-in-out;
    }

        .next-button:hover, .previous-button:hover, .search-container button:hover {
            background-color: rgb(202, 197, 184);
        }

.product-grid {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Fyra kolumner per rad */
    gap: 30px; /* Mellanrum mellan bilderna */
    justify-items: center; /* Centrerar bilder horisontellt */
}

.product-container {
    text-align: center;
    border-radius: 16px;
    background-color: #d4d4d492;
    box-shadow: 0px 0px 15px rgba(63, 57, 41, 0.577);
    width: 20rem;
    display: flex;
    flex-direction: column;
}

img {
    width: 320px;
    object-fit: cover;
}

.image-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

    .image-details h2 {
        flex: 1;
    }

    .image-details a {
        padding-bottom: 5px;
        text-decoration: none;
    }

.button-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 20px;
}

.list-container {
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .list-container a {
        text-decoration: none;
        color: black;
        text-align:center;
    }

li {
    font-size: 20px;
    list-style: none;
    display: inline;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

    .search-container label{
        
    }
    .search-container input,
    .search-container select,
    .search-container button {
        margin: 5px;
        margin-right: 10px;
    }

    .search-container input, .search-container select {
        padding: 4px;
        outline: none;
        border: none;
        border: 2px solid rgba(63, 57, 41, 0.577);
        background-color: #fefefe;
    }

    .next-button, .previous-button, .search-container button {
        color: black;
        padding: 4px;
        font-size: 14px;
        padding-left: 6px;
        padding-right: 6px;
        text-decoration: none; /* Ta bort understreck */
        font-optical-sizing: auto;
        background-color: #fefefe;
        border: 2px solid rgba(63, 57, 41, 0.577);
        transition: background-color 0.1s, transform 0.2s ease-in-out;
    }

        .next-button:hover, .previous-button:hover, .search-container button:hover {
            background-color: rgb(202, 197, 184);
        }

.product-grid {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Fyra kolumner per rad */
    gap: 30px; /* Mellanrum mellan bilderna */
    justify-items: center; /* Centrerar bilder horisontellt */
}

.product-container {
    text-align: center;
    border-radius: 16px;
    background-color: #d4d4d492;
    box-shadow: 0px 0px 15px rgba(63, 57, 41, 0.577);
    width: 20rem;
    display: flex;
    flex-direction: column;
}

img {
    width: 320px;
    object-fit: cover;
}

.image-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

    .image-details h2 {
        flex: 1;
    }

    .image-details a {
        padding-bottom: 5px;
        text-decoration: none;
    }

.button-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 20px;
}