@page
@model Webbshop.Pages.ConfirmationModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="A fictional webshop that allows users to search for products,
    add them to their shopping cart, and place orders.
    The webshop is built using Razor Pages, including an API.">
    <meta name="keywords" content="Webshop, Products, Razor Pages, C#, Backend, HTML, CSS, API">
    <meta name="author" content="Oskar Almhage, Veronica Steen">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>

    <header>
        <div class="headline">
            <h1>Webshop</h1>
        </div>
    </header>
    <main>
        <div class="order-container">
            <h1>Thank you!</h1>
            <h2>Your order has been confirmed</h2>
            <p>Total Amount: @Model.TotalAmount$</p>

            <button class="return-button">
                <a asp-page="./Index">Return to homepage</a>
            </button>
        </div>
    </main>

</body>
</html>