@page
@model Webbshop.Pages.ConfirmationModel
@{
}

@* Visa upp total amount och tack för ordern
 *@

<h1>Your order has been confirmed.</h1>
<h2>Thank you!</h2>

<p>Total Amount: @Model.TotalAmount</p>


<button>
	 <a asp-page="./Index">Return to homepage</a>
</button>