@page
@using Webbshop.Models
@model Webbshop.Pages.DetailsModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content="A fictional webshop that allows users to search for products,
    add them to their shopping cart, and place orders.
    The webshop is built using Razor Pages, including an API.">
	<meta name="keywords" content="Webshop, Products, Razor Pages, C#, Backend, HTML, CSS, API">
	<meta name="author" content="Oskar Almhage, Veronica Steen">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product Details</title>
</head>
<body>
	<h1 class="headline">Webshop</h1>
	<nav>
		<ul class="list-container">
			<li><a asp-page="./Index">Products</a></li>
			<li><a asp-page="./Cart">Cart</a></li>
		</ul>
	</nav>
	<main>
		<h2 class="product-headline">Product Details</h2>
		<section class="details-container">
			<img src="Pictures/@Model.Product.ImagePath" alt="Product Image">
			<div class="text-container">
				<h3>@Model.Product.Name</h3>
				<p>@Model.Product.Description</p>
				<p>Price: @Model.Product.Price$</p>

				<form method="post">
					<input type="hidden" name="id" value="@Model.Product.Id">
					<button type="submit" class="add-button">Add to Cart</button>
				</form>
				<button class="return-button">
					<a asp-page="./Index">Return to products</a>
				</button>
			</div>
		</section>
	</main>
</body>
</html>