@page
@using Webbshop.Models
@model Webbshop.Pages.DetailsModel
@{
}

<nav>
    <ul>
        <li><a asp-page="./Index">Products</a></li>
        <li><a asp-page="./Cart">Cart</a></li>
    </ul>
</nav>

<h1>Product Details</h1>

    <section>
    <img src="Pictures/@Model.Product.ImagePath" />
        <h2>@Model.Product.Name</h2>
        <p>Description: @Model.Product.Description</p>
        <p>Price: @Model.Product.Price</p>

    <form method="post">
        <input type="hidden" name="id" value="@Model.Product.Id">
        <button type="submit">Add to Cart</button>
    </form>

</section>

