@page
@model IndexModel
@inject Webbshop.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome, @accessControl.LoggedInAccountName!</h1>

<form method = "get">
    <label for="searchInput">Search for an image:</label>
    <input type="text" name="searchItem" placeholder="What are you looking for?">

    <label for="categorySelect">Pick a category:</label>
    <select id="categorySelect">
        <option>Any category</option>   
    </select>

    <button id="submit" type="submit">Search</button>
</form>

@{

    var searchItem = Request.Query["searchItem"].ToString().Trim().ToLower(); 
    var category = Request.Query["category"].ToString();

    var filteredProducts = Model.Products.ToList();

    if (!string.IsNullOrEmpty(searchItem))
    {
        filteredProducts = filteredProducts.Where(p => p.Name.ToLower().Contains(searchItem)).ToList();
    }

    if (!string.IsNullOrEmpty(category))
    {
        filteredProducts = filteredProducts.Where(p => p.Category.ToLower() == category.ToLower()).ToList();
    }

  
}

@if (filteredProducts.Any())
{
    <ul>
        @foreach (var product in filteredProducts)
        {
            <img src="Pictures/@product.ImagePath" />
            <h2>@product.Name</h2>
            <li>
                @product.Price
                <a asp-page="./Details" asp-route-id="@product.Id">Show details</a>
            </li>
        }
    </ul>
}
else
{
    <p>No products found.</p>
}

}






