@page
@model IndexModel
@inject Webbshop.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome, @accessControl.LoggedInAccountName!</h1>

<nav>
    <ul>
        <li><a asp-page="./Index">Products</a></li>
        <li><a asp-page="./Cart">Cart</a></li>
    </ul>
</nav>

<form method="get">
    <label for="searchInput">Search for an image:</label>
    <input type="text" name="searchItem" placeholder="What are you looking for?">

    <label for="categorySelect">Pick a category:</label>
    <select id="categorySelect" name="categorySelect">
        <option>Any category</option>
        <option>Electronics</option>
        <option>Outdoors</option>
        <option>Eco-friendly</option>
        <option>Indoors</option>
        <option>Health</option>
        <option>Food and beverage</option>
    </select>

    <button id="submit" type="submit">Search</button>
</form>

@{
    var searchItem = Request.Query["searchItem"].ToString().Trim().ToLower();
    var category = Request.Query["categorySelect"].ToString();

    var filteredProducts = Model.Products.ToList();
    // if (!string.IsNullOrEmpty(searchItem))
    // {
    //     // Filtrera endast om det finns ett sökord
    //     filteredProducts = filteredProducts.Where(p => p.Name.ToLower().Contains(searchItem)).ToList();
    // }

    // else if (!string.IsNullOrEmpty(category))
    // {
    //     // Kontrollera om det finns en kategori men inget sökord
    //     if (string.IsNullOrEmpty(searchItem))
    //     {
    //         // Filtrera endast efter kategorin om det inte finns något sökord
    //         filteredProducts = filteredProducts.Where(p => p.Category == category).ToList();
    //     }
    //     else
    //     {
    //         // Om både sökord och kategori finns, filtrera efter båda
    //         filteredProducts = filteredProducts.Where(p => p.Name.ToLower().Contains(searchItem) && p.Category == category).ToList();
    //     }
    // }

}

@if (!string.IsNullOrEmpty(searchItem) || !string.IsNullOrEmpty(category))
{
    // Om både sökord och/eller kategori har angetts, filtrera produkterna
    filteredProducts = filteredProducts.Where(p => p.Name.ToLower().Contains(searchItem) || p.Category == category).ToList();

    @if (filteredProducts.Any())
    {
        <ul>
            @foreach (var product in filteredProducts)
            {
                <img src="Pictures/@product.ImagePath" width="200px" height="200px" />
                <h2>@product.Name</h2>
                <li>
                    @product.Price
                    <a asp-page="./Details" asp-route-id="@product.Id">Show details</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No products found.</p>
    }
}






